<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Manipulator_station_urdf_2">

  <xacro:include filename="$(find mani_p_description)/robot/mani_p.core2.xacro"/>
  <xacro:include filename="$(find mani_p_description)/robot/mani_p.ros2.control2.xacro"/>
  <xacro:include filename="$(find mani_p_description)/robot/mani_p.transmission2.xacro"/>

  <xacro:include filename="$(find mani_p_description)/robot/mani_p.sensors.xacro"/>
</robot>
