<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Manipulator_station_urdf_2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Manipulator_station_urdf_2 urdf file -->
    <xacro:include filename="$(find mani_p_description)/robot/mani_p.core2.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find mani_p_description)/robot/mani_p.ros2.control2.xacro" />
    <xacro:Manipulator_station_urdf_2_ros2_control name="DynamixelSystem" initial_positions_file="$(arg initial_positions_file)"/>

    <!-- <xacro:Manipulator_station_urdf_2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>  -->
</robot>
