# MoveIt uses this configuration for controller management

moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

moveit_simple_controller_manager:
  controller_names:
    - arm_controller
    - gripper_controller

  arm_controller:
    type: FollowJointTrajectory
    action_ns: follow_joint_trajectory
    joints:
      - J1
      - J2
      - J3
      - J4
      - J5
      - palm_joint
  gripper_controller:
    type: GripperCommand
    joints:
      - finger_middle_joint_l
    action_ns: gripper_cmd
    default: true